#customers{

    .customers_section{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    h2{
        color: #000;
        font-size: 48.44px;
        font-weight: 500;
        line-height: 150%;

        @media (max-width: 1040px) {
            font-size: 42px;
        }
        @media (max-width: 921px) {
            font-size: 38px;
        }
        @media (max-width: 853px) {
            font-size: 34px;
        }
        @media (max-width: 580px) {
            font-size: 28px;
            text-align: center;
        }
    }

    .customers_title_box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media (max-width: 500px) {
            flex-direction: column;
        }
    }

    .slider_box{
        display: flex;
        gap: 40px;

        button{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #0086fc1f;
            border: none;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

            &:hover{
                background-color: #0086fc41;
            }
        }

        .left{
            background-image: url(../image/button_left.svg);
        }
        .right{
            background-image: url(../image/button_right.svg);
        }
    }

    .customers_boxes{
        display: flex;
        gap: 67px;

        @media (max-width: 1003px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .customers_box{
        width: 420px;
        display: flex;
        flex-direction: column;
        row-gap: 45px;
        border: 1px solid #0082f43d;
        border-left: 62px solid #0082F4;
        border-radius: 10px;
        padding: 30px 65px;
        position: relative;

        @media (max-width: 425px) {
            padding: 30px 20px;
        }

        @media (max-width: 1003px) {
            width: 100%;
        }
        @media (max-width: 425px) {
            border-left: 1px solid #0082f43d;
        }

        &:hover{
            box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
            transition: all .6s;
        }
    }

    p{
        color: #000;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        opacity: 0.7;
    }

    .customers_box_footer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 40px;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            top: 12px;
            left: 0;
            width: 30px;
            height: 2px;
            background-color: #000;
            opacity: 0.7;
        }

        p{
            opacity: 0.5;
        }
    }

    h3{
        color: #000;
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
    }

    .customers_img{
        position: absolute;
        top: 111px;
        left: -30.5px;
        border: 2px solid #fff;
        border-radius: 50%;
        height: 64px;

        @media (max-width: 425px) {
            top: -40px;
            left: 0;
        }

        img{
            width: 100%;
        }
    }
}